@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100vw;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
* body {
  display: flex;
  justify-content: center;
  background: #000;
  width: 100vw;
}
* body main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
* body main #backTop {
  transition: 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  box-shadow: 2px 2px 4px #666;
  position: fixed;
  width: 10vw;
  height: 5vh;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #f82;
  top: -10vh;
  right: 8vw;
  text-align: center;
}
* body main #backTop a {
  font-size: 1rem;
  color: #f82;
  text-decoration: none;
  line-height: 5vh;
}
* body main header {
  display: flex;
  align-items: center;
  flex: 0.1;
  justify-content: space-between;
  padding: 0%;
  width: 100vw;
  height: 12vh;
  border-bottom: 1px solid #f82;
  background: rgba(255, 255, 255, 0.98);
}
* body main header #logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2%;
}
* body main header #logo #imgLogo {
  width: auto;
  height: 100%;
}
* body main header #logo #imgLogo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #f82;
}
* body main header #logo #menuControl {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 100%;
  cursor: pointer;
}
* body main header #logo #menuControl #checkbox {
  display: none;
  width: 3vw;
  height: 3vh;
}
* body main header #logo #menuControl #iconMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 8vh;
  width: 15vw;
}
* body main header #logo #menuControl #iconMenu span {
  background: #f82;
  border-radius: 10px;
  height: 1vh;
  width: 70%;
  margin: 2px 0;
}
* body main header #logo #menuControl nav {
  display: flex;
  transition: 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: absolute;
  top: 12vh;
  height: 70vh;
  right: 0;
  width: 0vw;
  background: rgb(255, 255, 255);
  overflow-x: hidden;
  scroll-behavior: smooth;
}
@media (min-width: 414px) {
  * body main header #logo #menuControl nav {
    top: 9.9vh;
  }
}
* body main header #logo #menuControl nav a {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid;
  width: 100%;
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: 600;
  color: #f82;
}
* body main header #logo #menuControl nav a p {
  width: 100%;
  text-align: center;
}
* body main header #logo #menuControl nav a:hover {
  background: #f82;
  color: #fff;
}
* body main header #logo #menuControl .active {
  width: 100%;
}
* body main #home {
  height: 70vh;
  background: url("../image/background-home.jpg") no-repeat center;
  background-size: cover;
  color: #fff;
  width: 100vw;
}
* body main #home #bgimg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6%;
  background: rgba(0, 0, 0, 0.9);
  height: 100%;
}
* body main #home #bgimg #chamada {
  width: 100%;
}
* body main #home #bgimg #chamada h1 {
  width: 100%;
  font-size: 3rem;
  color: #f82;
  text-shadow: 0px 0px 20px #9c4f0b;
}
* body main #home #bgimg #chamada h2 {
  width: 100%;
  margin-top: 25px;
  font-size: 1.3rem;
  font-weight: bolder;
}
* body main #home #bgimg #chamada h3 {
  width: 100%;
  margin-top: 25px;
  font-size: 0.9rem;
}
* body main #home #bgimg #btn {
  display: flex;
  justify-content: end;
  margin-top: 25px;
  width: 100%;
}
* body main #home #bgimg #btn button {
  height: 65px;
  width: 180px;
  background: transparent;
  border-radius: 10px;
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
  color: #fff;
  font-weight: bolder;
  font-size: 1rem;
}
* body main #home #bgimg #btn button:hover {
  background: #f82;
  border-left: 2px solid #444;
  border-top: 2px solid #444;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
* body main #belt {
  display: flex;
  align-items: center;
  background: #f82;
  height: 12vh;
  overflow-x: scroll;
  width: 100vw;
}
* body main #belt p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 2%;
  height: 50%;
  border-right: 1px solid;
  font-size: 0.7rem;
  text-align: center;
  color: #fff;
}
* body main #belt #last {
  border: none;
}
* body main #about {
  height: 70vh;
  background: url("../image/about.jpg") no-repeat center fixed;
  background-size: cover;
  width: 100vw;
}
* body main #about #filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6), rgba(218, 221, 228, 0.9));
  width: 100%;
  height: 100%;
}
* body main #about #filter #txtAbout {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: 90%;
}
* body main #about #filter #txtAbout h2 {
  width: 100%;
  padding: 1rem 0.2rem;
  color: #f82;
  font-size: 1.8rem;
}
* body main #about #filter #txtAbout p {
  width: 100%;
  color: #fff;
  padding: 1rem;
}
* body main #curses {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../image/background/bgOrange.jpg") no-repeat center;
  background-size: auto;
  width: 100vw;
  padding: 4%;
}
* body main #curses #cursesFilter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 6% 0;
  height: 100%;
  width: 100%;
}
* body main #curses #cursesFilter #titleWorks {
  padding: 5%;
  font-size: 2.2rem;
  color: #fff;
  text-shadow: 3px 3px 2px #111;
}
* body main #curses #cursesFilter #cursos {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;
}
* body main #curses #cursesFilter #cursos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  margin-top: 6%;
  max-width: 100%;
  max-height: 100%;
  padding: 4%;
  border: 1px solid transparent;
  border-radius: 15px;
  background: #fff;
  box-shadow: 5px 5px 6px;
}
* body main #curses #cursesFilter #cursos .container .imgEvent {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 4%;
  max-width: 100%;
}
* body main #curses #cursesFilter #cursos .container .imgEvent img {
  width: 60%;
  background: white;
  border: 1px solid darkgreen;
  border-radius: 50%;
  box-shadow: 5px 5px 8px;
}
* body main #curses #cursesFilter #cursos .container .info {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  gap: 0.8rem;
}
* body main #curses #cursesFilter #cursos .container .info .title {
  max-width: 100%;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  border-bottom: 1px solid dotted red;
}
* body main #curses #cursesFilter #cursos .container .info .description {
  max-width: 100%;
  text-align: start;
  font-size: 1rem;
}
* body main #curses #cursesFilter #cursos .container .info .description h3 {
  max-width: 100%;
}
* body main #curses #cursesFilter #cursos .container .info .description p {
  max-width: 100%;
}
* body main #curses #cursesFilter #cursos .container .info .hour {
  max-width: 100%;
  text-align: start;
  font-size: 1rem;
}
* body main #curses #cursesFilter #cursos .container .info .hour span {
  font-weight: 700;
}
* body main footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 10vh;
  width: 100vw;
}

/*# sourceMappingURL=index.css.map */
